.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(104, 99, 254);
    border-bottom: 1px solid rgb(0, 0, 101);
}

.userContainer {
    display: flex;
    align-items: center;
    margin-right: .4rem;
}

.userName {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: .4rem;
}

.userImage {
    border-radius: 50%;
    width: 50px;
}

.filterContainer {
    align-self: center;
    flex-grow: 1;
    order: 1;
    margin: .4rem;
    text-align: center;
}

.filterBox {
    width: 25rem;
    height: 1.6rem;
    background-color: rgb(174, 173, 255);
    color: rgb(60, 49, 255);
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    border-radius: .4rem;
    padding-left: .4rem;
}

.filterButtonContainer {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.clearButton {
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    right: .2rem;
    top: .1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.clearButton:hover {
    color: #000;
}

@media screen and (max-width: 745px) {
    .filterBox {
        width: 15rem;
    }
}

@media screen and (min-width: 597px) {
    .filterContainer {
        order: 0;
        margin: 0;
        flex-grow: 0;
    }

}