.notesContainer {
    background-color: #f6f6f6ff;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: .8rem;
    gap: .8rem;
    overflow-y: scroll;
}

.addNewButton {
    background-color: #cacacaff;
    padding: .8rem;
    border-radius: .5rem;
    text-align: center;
    word-wrap: break-word;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border: none;
    color: rgb(67, 67, 67);
    font-size: 4rem;
}

.addNewButton:hover {
    background-color: rgb(224, 224, 224);
}

.addNewButton:active {
    background-color: rgb(104, 104, 104);
    color: #fff;
}

.errorMessage {
    font-size: 3rem;
    color: #f00;
}

.textArea {
    resize: none;
}

.newNoteForm {
    display: flex;
    flex-direction: column;
}

.noteTitleInput {
    font-weight: 700;
    font-size: 1.2rem;
}

.noteContentsInput {
    resize: none;
    height: 10rem;
    font-size: 1rem;
}

.noteTitleInput,
.noteContentsInput {
    background-color: rgb(174, 173, 255);
    border: none;
    border-radius: 0.4rem;
    padding: 0 .4rem;
}

.formButtons {
    min-width: 5rem;
    background-color: rgb(174, 173, 255);
    border: none;
    border-radius: .4rem;
    color: rgb(60, 49, 255);
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: 5px 5px 10px rgb(153, 153, 250);
}

.formButtons:hover {
    background-color: rgb(153, 153, 250);
}

.formButtonBox {
    display: flex;
    justify-content: space-around;
    margin-top: .4rem;
}

.radioButton {
    font-size: 1.5rem;
    padding: .4rem;
    height: 1.7rem;
    border-radius: .4rem;
    background-color: rgb(174, 173, 255);
    cursor: pointer;
}

.radioButtonInput:checked + .radioButton {
    background-color: rgb(61, 58, 255);
    color: #fff;
}

.radioButtonInput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radioButtonBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: .2rem;
}

@media screen and (min-width: 600px) {
    .notesContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    .addNewButton {
        width: 18.9rem;
    }
}
/* for loading Note */

.noteContainer {
    background-color: #cacacaff;
    padding: .8rem;
    border-radius: .5rem;
    text-align: center;
    word-wrap: break-word;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.loadingText {
    min-width: 3rem;
    height: 1rem;
    width: 100%;
    background-color: rgb(164, 164, 164);
    margin: .4rem 0;
    border-radius: .4rem;
}

.contents {
    background-color: #fff;
    margin-top: .8rem;
    height: 10rem;
    white-space: pre-wrap;
    overflow-y: auto;
    padding: .4rem .4rem;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .5);
}

.buttonBox {
    display: flex;
    justify-content: space-around;
    padding-top: .8rem;
}

.loadingButton {
    min-width: 5rem;
    padding: .4rem;
    background-color: rgb(151, 151, 151);
    border-radius: .4rem;
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .5);
}

@media screen and (min-width: 600px) {
    .noteContainer {
        width: 18rem;
    }
}