.noteContainer {
    background-color: rgb(124, 124, 246);
    padding: .4rem;
    border-radius: .5rem;
    border: 1px solid darkblue;
    text-align: center;
    height: 14rem;
    word-wrap: break-word;
}

.title {
    font-weight: 700;
    font-size: 1.2rem;
}

.contents {
    background-color: rgb(174, 173, 255);
    height: 10rem;
    white-space: pre-wrap;
    overflow-y: auto;
    padding-left: .4rem;
}

.buttonBox {
    display: flex;
    justify-content: space-around;
    padding-top: .4rem;
}

.editNoteForm {
    display: flex;
    flex-direction: column;
}

.noteTitleInput {
    font-weight: 700;
    font-size: 1.2rem;
}

.noteContentsInput {
    resize: none;
    height: 10rem;
    font-size: 1rem;
}

.noteTitleInput,
.noteContentsInput {
    background-color: rgb(174, 173, 255);
    border: none;
    border-radius: 0.4rem;
    padding: 0 .4rem;
}

.radioButton {
    font-size: 1.5rem;
    padding: .4rem;
    height: 1.7rem;
    border-radius: .4rem;
    background-color: rgb(174, 173, 255);
    cursor: pointer;
}

.radioButtonInput:checked + .radioButton {
    background-color: rgb(61, 58, 255);
    color: #fff;
}

.radioButtonInput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radioButtonBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: .2rem;
}

@media screen and (min-width: 600px) {
    .noteContainer {
        width: 18rem;
    }
}